.Services
{
    height: auto;
}
.service-head
{
    margin-top: 20px;
    text-align: center;
    color:blue;
    text-decoration: underline;
}
.service-head1
{
    text-align: center;
}
.service-row
{
    
    height: auto;
    margin:auto 2%;
}
.service-col
{
    width: 400px;
    height: 300px;
    background-color: rgba(229, 235, 235, 0.322);
    margin:auto auto 10px auto;
    
}
.service-col img{
    margin: 30px;
}
.service-col h5
{
    margin: 10px 30px;
}
.service-col p
{
    margin: 10px 30px;
}